* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

}


body {
    overflow-x: hidden;

}


/*
! NavBar
*/

#nav {
    color: white;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: transparent;
}

#nav h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 900;
}


#nav h2 span {
    color: red;
}


#nav-part2 {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 0 auto;
}

#nav-part2 h3 {

    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 2.2vw;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-size: 1.1vw;
    transition: 0.3s ease-in-out;
    position: relative;
}

#nav-part2 h3::before {
    content: '';
    position: absolute;
    bottom: -5px;
    transform: translateX(-50%);
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgb(121, 255, 237);
    transition: 0.3s ease-in-out;
}

#nav-part2 h3:hover:before {
    width: 100%;
}

#nav-part2 h3:hover {

    color: rgb(0, 228, 152);
    transform: scale(1.1);
}


#icons {
    display: flex;
    gap: 30px;
    font-size: 1.7vw;
    color: rgb(0, 225, 255);
    cursor: pointer;
}

#nav-collapse {
    display: flex;
    align-items: center;
    display: none;
    z-index: 999;
}


/*
! NavBar End
*/


#page1 {
    width: 100%;
    height: 100vh;
    position: relative;

}

.final-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;

}

#text-content {

    height: 60%;
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: end;
    top: 28%;
}

#text-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 14%;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    gap: 2px;
    border: 2px solid white;
    cursor: pointer;
}




#text-content button:hover {
    gap: 10px;
    color: rgb(139, 255, 255);
}

#page1 h2 {

    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    left: 10%;
    bottom: 0;
    color: rgb(255, 255, 255);

}

#page2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
    width: 100%;
    height: 100vh;
    background: url("https://r4.wallpaperflare.com/wallpaper/692/918/558/black-black-and-white-night-street-light-wallpaper-3940982db16add8bb69768afd0c106fd.jpg");
    background-size: cover;

}

#page2 h1 {
    letter-spacing: 7px;
    color: #5d5d5d;
    font-size: 2.2vw;
    text-align: center;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 4.8vw;

}

#page3-new {
    width: 100%;
    height: 100vh;
    background-image: url("./backgr");
    background-size: cover;
}

#page3 {

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url("./background/shoes_banner.jpg");
    background-size: cover;

}

#page3 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35vw;
    letter-spacing: 10px;
    font-weight: 100;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 10px rgb(255, 255, 255);
}




#page4 {
    width: 100%;
    height: 101vh;
    background-color: rgb(0, 0, 0);
    position: relative;

}

#page4 h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    letter-spacing: 3vw;
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 110px;
    width: 80%;
    padding-left: 5vw;
    padding-top: 7vw;
}




#page4 h1:nth-child(1)::first-letter {
    font-size: 200px;
    
}

#page4 h1:nth-child(2) {
    
    text-align: center;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

#page4 h1:nth-child(3) {
    text-align: left;

}

#page4 img {
    position: absolute;
    height: 300px;
    top: 15%;
    right: 15%;
}


#img1 {
    rotate: 20deg;
}

#img2 {
    rotate: 15deg;
}



#page5 {
    width: 100%;
    height: 100vh;
    background-color: paleturquoise;
}


@media screen and (max-width:992px) {
    
    #main
    {
        overflow-x: hidden;
    }

    #nav {
        height: 80px;    
    }

    #nav h3 {
        display: none;
    }

    #icons{
        display: none;
    }

    #nav-collapse{
        font-size: 39px;
        display: block;
    }

    #page2
    {
        height: 90vh;
        
    }

    
    #page2 h1 {
        letter-spacing: 5px;
        font-size:2.5vw;
        line-height:5.2vw;
    
    }

    
    
    
    #page4 h1 {
      
        letter-spacing: 2.5vw;
        font-size: 10vw;
        padding: 8vw;
        
        line-height: 10vh;
        
        
        
    }
    
    #page4 h1:nth-child(1)::first-letter {
        font-size: 20vw;
        
    }
    
    
    
    
    #page4 img {
        position: absolute;
        height: 190px;
        top:60%;
        right: 15%;
    }
    
    
    #img1 {
        rotate: 20deg;
    }
    
    #img2 {
        rotate: 15deg;
    }
    
    
    
    
    


}
@media (orientation: landscape) {
    
    #page2 {
        font-size: 1vw;
        height: 120vh;    
    }

    #page4 h1 {
        font-size: 6.8vw;
        padding: 7vw;        
        line-height: 0.1vh;
    }
    
    #page4 h1:nth-child(1)::first-letter {
        font-size: 12vw;
        
    }
    #page4 img {
        
        
        top: 35%;
        right: 15%;
    }
    
}