/*
! fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Ojuju:wght@200..800&family=Orbitron:wght@400..900&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');








/*
! Fonts End
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;

}

a{
    color: inherit;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;

}


#main {
    position: relative;
    background-color: black;
    
 
}

body {
    overflow-x: hidden;

}


/*
! Loader
*/


.welcome
{
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    position:fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;


}

.welcome p
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    text-align: center;
    position: relative;
    font-size: 50px;
    color:rgb(0, 0, 0);
    font-family: "Michroma", sans-serif;
}

.loading_page
{
 
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:25px;
    
    
}


#svg
{
    height: 150px;
    width: 150px;
    stroke: #000000;
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray:1000;
    animation:draw 6s ease;
}


.logo_name
{
    width: 100%;
    text-transform: uppercase;
    margin-left: 12px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 15px;
    font-family: "Michroma", sans-serif;
}

@keyframes draw
{
    0%
    {
        stroke-dashoffset: 1000;
    }
    100%
    {
        stroke-dashoffset: 0;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        box-shadow: 1px 1px 15px white;
        padding: 1vw;
    }



}


/*
! Loader
*/

/*
! NavBar
*/



#nav {
    color: white;
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 14px 30px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    background: linear-gradient(180deg,rgb(16, 15, 15),rgb(9, 8, 8));
    border-bottom-left-radius: 50px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    border-bottom-right-radius: 50px;
}

#nav h2 {
    
    font-size: 22px;
    margin-right: auto;
    letter-spacing: 10px;
    font-weight: 900;
    
}


#nav h2 span {
    color: red;
}


#nav-part2 {
    
    display: flex;
    width: 52vw;
    gap: 40px;
    align-items: center;
    
    
}

#nav-part2 h3 {

    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-size: 1.1vw;
    position: relative;
    transition: all ease-in-out 0.3s;
    
}

#nav-part2 h3::before {
    content: '';
    position: absolute;
    bottom: -5px;
    transform: translateX(-50%);
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgb(121, 255, 237);
    transition: all ease-in-out 0.4s;
    
}

#nav-part2 h3:hover:before {
    width: 100%;
}

#nav-part2 h3:hover {

    color: rgb(0, 228, 152);
    transform: scale(1.1);
}


#icons {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    width: 12.7vw;
    font-size: 28px;
    
    cursor: pointer;
}

#nav-collapse
{
    font-size: 32px;
    margin-right:20px ;
    display: none;     
    cursor: pointer;
    
}

#icons .login
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50px;
    width: fit-content;
    padding: 1vw;
    border:1px solid rgb(0, 255, 247);
    color:white;
    background-color: transparent;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    transition: all ease-in-out 0.4s;
}

#icons .login:hover
{
    transform: scale(1.05);
    border:1px solid rgb(255, 0, 68);
    
 
}

#icons_2
{
    display: none;
}

#icons_2 .login
{

    padding: 2vw;
    border:1px solid rgb(0, 255, 247);
    border-radius: 10px;
    width: 100px;
    color:white;
    background-color: transparent;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    transition: all ease-in-out 0.4s;
}

#icons_2 .login:hover
{
    transform: scale(1.05);
    border:1px solid rgb(255, 0, 68);
    
 
}

.profileName{
    font-size: 18px;
    
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    color:white;
    font-weight: 600;
    
    
    
}


#logout_main h6
{
    font-size: 17px;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    right: 86px;
    top:70px;
    border-radius: 10px;

    width: fit-content;
    padding:0.5vw;
    border:2px solid white;
    color:rgb(255, 43, 47);   
    display: none;
    
}

#logout_main h6:hover{
    transform: scale(1.08);
    background-color: aqua;
    color:black;
}

#logout_collapse h6
{
    font-size: 17px;
    color:rgb(255, 23, 27);   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    border: 2px solid white;
    padding: 1.2vw;
    border-radius: 10px;
    display: none;
    
}

#logout_collapse h6:hover{
    transform: scale(1.08);
    background-color: aqua;
    color:black;
}


/*
! NavBar End
*/

/*
! Page1
*/

#page1 {
    width: 100%;
    height: 100vh;
    position: relative;
}


.final-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;

}

#text-content {

    height: 60%;
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: end;
    top: 28%;
}

#text-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 14%;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    gap: 2px;
    border: 2px solid white;
    cursor: pointer;
}




#text-content button:hover {
    gap: 10px;
    color: rgb(139, 255, 255);
}

#page1 h2 {

    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    left: 10%;
    bottom: 0;
    color: rgb(255, 255, 255);

}


/*
! Page1 End
*/


/*
! Page2
*/

#page2 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
    width: 100%;
    height: 100vh;
    background-color: #202020;
    background-size: cover;

}

#page2 h1 {
    letter-spacing: 7px;
    color: #5d5d5d;
    font-size: 4vw;
    text-align: center;
    font-weight: 900;
    line-height: 4.8vw;
}

#elem_main
{
    margin-top: 100px;
}
#page2 .elem
{
    
    
    white-space: nowrap;
    
}

#page2 .elem h1
{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    font-size:7.4vw;
    margin-right: 16px;
    animation-name: textmove;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    line-height: 1px;
    line-height: 120px;
}

#page2 h2
{
    
    font-size:1.1vw;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    
}


@keyframes textmove{
    from{
        transform: translateX(0);
    }
    to
    {
        transform: translateX(calc(-100% - 20px));
    }
}



/*
! Page2 End
*/


/*
! Page3
*/


#page3-new {
    width: 100%;
    height: 100vh;
    background-image: url("./backgr");
    background-size: cover;
}

#page3 {

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url("./background/shoes_banner.jpg");
    background-size: cover;

}

#page3 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35vw;
    letter-spacing: 10px;
    font-weight: 100;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 10px rgb(255, 255, 255);
}


/*
! Page3 End
*/


/*
! Page4
*/

#page4 {
    width: 100%;
    height: 101vh;
    background-image: url("https://r4.wallpaperflare.com/wallpaper/782/891/718/digital-art-video-games-shoes-nike-wallpaper-09c0784d013a7debe68718ff00d1e63d.jpg");
    background-size: cover;
    position: relative;
    

}

#page4 h1 {
    font-family: "Orbitron", sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
    
    
    letter-spacing: 2vw;
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 900;
    width: 80%;
    
    
}





#page4 h1:nth-child(2) {

    text-align: center;
    
}

#page4 h1:nth-child(3) {
    text-align: left;
}

#page4 img {
    position: absolute;
    height: 300px;
    top: 15%;
    right: 15%;
    
    
}


#img1 {
    rotate: 20deg;
    border-radius: 30px;
}



#img2 {
    rotate: 10deg;
    border-radius: 30px;
}

#img3
{
    border-radius: 30px;
}

/*
! Page4 End
*/


/*
! Page5
*/


#page5 {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    
}

#header_title
{
    
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    margin-bottom:100px;
    align-items: flex-end;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
    font-weight: 900;
    letter-spacing: 1vw;
    font-size: 4vw;
    font-family: "Urbanist", sans-serif;
}

#product_main
{   
    width: 100%;
    height: 100vh;
    display: flex;
    gap:40px;
    
    flex-wrap: wrap;
}

#product_main #product
{

    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 30px;
    margin: 0 auto;
    
}

#product_main #product img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all ease 0.3s;
}

#product_main #product img:hover
{
    filter: grayscale(0);
}

#product_main #product #bottom
{
    position:absolute;
    bottom: -40%;
    width: 100%;
    background:linear-gradient(transparent,rgba(0, 0, 0, 0.659));
    height: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all ease 0.3s;
    padding:2vw;
}
#product_main #product #bottom h2
{
    
    color:white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


#product_main #product:hover #bottom
{
    bottom: 0;
}


/*
! Page5 End
*/


/* 
! Page6 
*/

#page6
{
    
    width: 100%;
    height: 100vh;
    background-color: rgb(30, 31, 28);
    
}


#page6 #parts
{
    width: 100%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    
}

#page6 #left_part
{
    width: 50%;
    height:100%;
    background: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_552,c_limit/2496b1dd-4748-41ef-ad0f-ffe4360ef28d/nike-just-do-it.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out 1.2s;
}
#page6 #left_part:hover + #right_part {
    width: 30%;
    
}
#page6 #left_part:hover
{
    width: 70%;
    
}



#page6 #left_part h1{
    
    
    font-weight:900;
    font-style: normal;
    color: white;
    font-size: 3.5vw;
    cursor: pointer;

    height: 40vh;
    font-style: italic;
    width: 95%;
    text-align: right;
    padding: 1vw;
    border-radius: 20px;
    transition: all ease-in-out 0.5s;

}

#page6 #left_part:hover h1{
    
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    font-weight:900;
    height: 13vh;

    

}



#page6 #right_part
{

    width: 50%;
    height:100%;
    background: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_552,c_limit/14626cbd-d790-48a1-aee6-5afc3e86a78a/image.png");
    background-size: cover;
    transition: all ease-in-out 1.2s;
}

/*
! Page 6 End
*/

/*
! Page 7
*/

#page7
{
    width: 100%;
    height: 200vh;
    background-color: #141414;
}

#page7 h1
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    
    font-size: 7.5vw;
    text-align: center;
    color: white;
}


#page7 #center_line
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

#page7 #center_line h1
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 17vw;
}

#page7 #social_media_handles
{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    flex-wrap: wrap;
}

#page7 #social_media_handles button
{
    padding:20px;
    border: none;
    outline: none;
    background-color: transparent;
    color:white;
    letter-spacing: 10px;
    border:2px solid rgb(255, 255, 255);
    display: flex;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition:all ease-in-out 0.3s;
}


#page7 #social_media_handles button:hover
{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 98);
    font-weight: 500;
    transform: scale(1.1);
}

#end_line
{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    
    width: 100%;
}

#end_line_inner
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 50px;
    height: 100%;
    
}

#end_line_inner h2
{
    text-align: center;
    font-size:3vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    letter-spacing: 6px;
    
}

#last_line
{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:30px;
    
    
}

#last_line h3
{
    
    font-size: 1vw;
    color:rgb(0, 0, 0);
}

#last_line img
{
    
    height: 3vh;
}





/*
! Media Queries Mobile
*/

@media screen and (max-width:992px) {


    #main {
        overflow-x: hidden;
        background: white;
    }

    #nav {
        height: 65px;
    }

    #nav h2
    {
        font-size: 30px;
        
        width: 0;
    }

    

   

    #page2 {
        height: 90vh;

    }


    #page2 h1 {
        
        letter-spacing: 5px;
        font-size: 4.5vw;
        line-height: 5.2vw;

    }

    #page2 h2
    {
        font-size: 2.1vw;
        margin-top: 10px;
        letter-spacing: 4px;
    }

    #page4 h1 {

        letter-spacing: 2.5vw;
        font-size: 10vw;
        padding: 8vw;
        line-height: 10vh;
    }

    #page4 h1:nth-child(1)::first-letter {
        font-size: 20vw;

    }




    #page4 img {
        position: absolute;
        height: 190px;
        top: 60%;
        right: 15%;
    }


    #img1 {
        rotate: 20deg;
    }

    #img2 {
        rotate: 15deg;
    }

    #nav-part2
    {
        /* display: flex;  to apply when clicked*/     

        display: none;
        
        flex-direction: column;
        top:65.9px;
        border-top-left-radius:30px ;
        border-top-right-radius:30px ;
        opacity:1;
        width: 100%;
        position: absolute;
        backdrop-filter: blur(30px);
        height: 100vh;
        padding-top: 10vw;
        
        
    }

    #nav-part2 h3
    {
        
        font-size: 20px;     
           
    }
    
    #icons
    {    
        display: none;
    }

    #nav-collapse
    {   
        display: inline;     
    }

    #icons_2 {
        margin-top: 7px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        width: 12.7vw;
        font-size: 25px;
        color: rgb(56, 247, 167);
        cursor: pointer;
    }

    #page6
    {
        height: 190vh;
    }

    #page6 #parts
    {
        
        flex-wrap: wrap;
    }

    #page6 #left_part
    {
        width: 100%;
        height:50%;
        background: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_552,c_limit/2496b1dd-4748-41ef-ad0f-ffe4360ef28d/nike-just-do-it.jpg");
        background-size: cover;
    }


    #page6 #right_part
    {

        width: 100%;
        height:50%;
        background: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/w_552,c_limit/14626cbd-d790-48a1-aee6-5afc3e86a78a/image.png");
        background-size: cover;
    }

    #page6 #left_part:hover + #right_part {
        width: 100%;
        
    }
    #page6 #left_part:hover
    {
        width: 100%;
        
    }
        
    #page6 #left_part:hover h1{
        
        height: 7vw;
    }
    

}

@media screen and (max-width:710px){
    #page5 {
        height: 220vh;
    }
    #product_main
    {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    #header_title
    {
        margin-bottom: 100px;
        font-size: 5vw;
    }


}


@media screen and (min-width:711px) and (max-width:1467px) {
    #page5 {
        height: 140vh;
    }
    #product_main
    {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    #header_title
    {
        font-size: 40px;

    }

}
/*
! Media Queries Landscape Mode
*/

@media (orientation: landscape) {

    #page2 {
        font-size: 1vw;
        height: 120vh;
    }

    #page4 h1 {
        font-size: 6.8vw;
        padding: 8vw;
        line-height: 0.1vh;
    }

    #page4 h1:nth-child(1)::first-letter {
        font-size: 10vw;

    }

    #page4 img 
    {
        top: 35%;
        right: 15%;
    }

}