.title a
{
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 20px;
    font-size: 25px;
    
    
}


.title a span
{
    color:red;
    font-size: 55px;
}